---
to: internal/rules/types.go
after: //SpecificRuleConfig
---


// {{ .Name | casePascal }} defines the configuration for detecting and handling {{ .Name | caseSnake }}.
type {{ .Name | casePascal }}Config struct {
	BaseRuleConfig


}
