---
to: internal/rules/rule_{{ .Name | caseSnake }}.go
---
package rules

import "github.com/code-gorilla-au/n8n-lint/internal/n8n"

const (
    ruleName{{ .Name | casePascal }} = "{{ .Name | caseSnake | caseTitle }}"
    ruleDescription{{ .Name | casePascal }} = "TODO"
)

var rule{{ .Name | casePascal }} = Rule{
    Name: ruleName{{ .Name | casePascal }},
    Description: ruleDescription{{ .Name | casePascal }},
    ruleFn: func(finder Finder, config Ruleset) (EvaluationOutcome, error) {

		outcome := EvaluationOutcome{
			File:            finder.GetFileName(),
			RuleName:        ruleName{{ .Name | casePascal }},
			RuleDescription: ruleDescription{{ .Name | casePascal }},
			Nodes:           make([]n8n.Node, 0),
			Report:          config.{{ .Name | casePascal }}.ReportLevel(),
		}

		return outcome, nil
        return EvaluationOutcome{}, nil
    },
}

