---
to: internal/rules/rule_{{ .Name | caseSnake }}.go
---
package rules

import "github.com/code-gorilla-au/n8n-lint/internal/n8n"

var rule{{ .Name | casePascal }} = Rule{
    Name: "{{ .Name | caseSnake | caseTitle }}",
    Description: "TODO",
}


func (r Rule) Run(workflow n8n.Workflow, config RuleConfig) Outcome {
    return Outcome{}
}

var _ = Runner(&rule{{ .Name | casePascal }})