---
to: internal/rules/rule_{{ .Name | caseSnake }}_test.go
---
package rules

import (
	"testing"

	"github.com/code-gorilla-au/odize"
)

func TestRule_{{ .Name | caseSnake }}(t *testing.T) {
    group := odize.NewGroup(t, nil)

    err := group.
        Test("should do something", func(t *testing.T) {
            // TODO
        }).
        Run()
    odize.AssertNoError(t, err)
}